<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div style="font-size: 40px;font-weight: 600;margin-top: 20px;color: aliceblue;">WELCOME TO ADMIN USER DASHBOARD</div>
        <div style="margin-top: 40px;">
            <ul>
                <li>
                    <span class="header">Profile Section:</span>
                    <ul>
                        <li>Clicking on "Profile" in the sidebar navigates to the Profile section.</li>
                        <li>Users can view all their details here.</li>
                    </ul>
                </li>
                <li>
                    <span class="header">Category Section:</span>
                    <ul>
                        <li>Clicking on "Categories" in the sidebar navigates to the Category section.</li>
                        <li>User can view all the categories.</li>
                        <li>Users can add new categories, redirecting to the "Add New Category" page.</li>
                    </ul>
                </li>
                <li>
                    <span class="header">Quiz Section:</span>
                    <ul>
                        <li>Clicking on "Quizzes" in the sidebar navigates to the Quiz section.</li>
                        <li>Displays all existing quizzes.</li>
                        <li>Shows details such as maximum marks, number of questions, and attempts.</li>
                        <li>Users can modify or delete the quiz.</li>
                        <li>Clicking on "Questions" in the sidebar navigates to the Questions section.</li>
                    </ul>
                </li>
                <li>
                    <span class="header">Question Section:</span>
                    <ul>
                        <li>Users can view all the questions.</li>
                        <li>Users can add new questions, redirecting to the "Add New Question" page.</li>
                        <li>Users can modify or delete the question.</li>
                    </ul>
    
                </li>
            </ul>
        </div>

    </div>
</div>