<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div style="font-size: 40px;font-weight: 600;margin-top: 20px;color: aliceblue;">WELCOME TO NORMAL USER DASHBOARD</div>
        <div style="margin-top: 40px;">
            <ul>
                <li>
                    <span class="header">All Quizzes:</span>
                    <ul>
                        <li>Clicking on "All Quizzes" in the sidebar navigates to the quizzes section.</li>
                        <li>Displays quizzes from various categories.</li>
                    </ul>
                </li>
                <li>
                    <span class="header">Category Wise Quiz Section:</span>
                    <ul>
                        <li>Clicking on a category displays quizzes specific to that category.</li>
                    </ul>
                </li>
                <li>
                    <span class="header">Quiz Details:</span>
                    <ul>
                        <li>Users can view maximum marks and the number of questions for each quiz.</li>
                        <li>A "Start" button allows users to begin the exam.</li>
                    </ul>
                </li>
                <li>
                    <span class="header">Exam Process</span>
                    <ul>
                        <li>Clicking "Start" redirects users to the instructions page.</li>
                        <li>The time will start the moment you click the start quiz button.</li>
                        <li>Click on <b>Submit Quiz</b> button on the completion of the quiz.</li>
                        <li>Upon completing the exam and submitting, the result is displayed in a window.</li>
                        <li>If the time runs out, quiz will be submitted automatically and the result will be displayed in a window.</li>
                    </ul>
    
                </li>
            </ul>
        </div>

    </div>
</div>