<div class="bootstrap-wrapper" *ngIf="isSubmit == false">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2" style="margin-top: 70px;">
                <mat-card>
                    <mat-card-content>
                        <h3>Instructions</h3>
                        <ul>
                            <li>Do not refresh the page otherwise you will get new questions in the quiz.</li>
                            <li>Do not switch tabs.</li>
                            <li>Do not minimize the window.</li>
                        </ul>
                    </mat-card-content>
                </mat-card>
                
            </div>
            <div class="col-md-8">
                <!-- Questions -->
                <ng-container *ngIf="questions.length > 0">
                    <h1 style="margin-top: 20px;">On Going Quiz <b>{{questions[0].quiz.title}}</b></h1>
                </ng-container>
                
                    <mat-card *ngFor="let ques of questions; let i = index" style="margin-top: 20px;">
                        <mat-card-content>
                            <h3>
                                <b>Q {{i+1}}) </b> <span [innerHTML]="ques.content" style="margin-left: 20px;"></span>
                            </h3>
                            <div class="contaier">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-6">
                                        <input type="radio" [name]="'question'+i" [value]="ques.option1" style="margin-left: 20px;" [(ngModel)]="ques.givenAnswer">{{ques.option1}}
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" [name]="'question'+i"  [value]="ques.option2" style="margin-left: 20px;" [(ngModel)]="ques.givenAnswer">{{ques.option2}}
                                    </div>
                                </div>

                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-6">
                                        <input type="radio" [name]="'question'+i"  [value]="ques.option3" style="margin-left: 20px;"  [(ngModel)]="ques.givenAnswer">{{ques.option3}}
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" [name]="'question'+i"  [value]="ques.option4" style="margin-left: 20px;"  [(ngModel)]="ques.givenAnswer">{{ques.option4}}
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    
                </mat-card>
                <div class="container" class="text-center" style="margin-top: 20px;">
                    <button  mat-raised-button color="primary" (click)="submitQuiz()">SUBMIT QUIZ</button>
                </div>
            </div>
            <div class="col-md-2" style="margin-top: 70px;">
                <!-- Progress -->
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Progress</mat-card-title>
                        <mat-card-subtitle>Quiz will automatically submitted when time reaches to <b>0.0</b>.</mat-card-subtitle>

                    </mat-card-header>
                    <mat-card-content>
                        <h1 class="text-center">{{ getFormattedTime() }}</h1>
                        <mat-spinner style="margin: auto;" mode="determinate" [value]="(this.timer / (this.questions.length * 2 * 60))*100"></mat-spinner>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>


