

<div class="bootstrap-wrapper compBody">
    <div class="container">
        <div class="row" style="margin: 20px;">
            <div class="text-center">
                <p style="font-size: 67px; font-weight: bold;color: aliceblue;">WELCOME TO EXAM PORTAL</p>
                <div class="continer text-center" style="margin-top: 35px;">
                    <button mat-raised-button color="warn" style="margin: 5px 8px;" type="button" (click)="loginUser(this.credentialAdminUser)">Login as Admin User</button>
                    <button mat-raised-button color="warn" style="margin: 5px 8px;" type="button" (click)="loginUser(this.credentialNormalUser)">Login as Normal User</button>
                </div>
            </div>
        </div>
    </div>
</div>